.story-card {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
    box-shadow: var(--shadow);

    &__img {
        width: 100%;
    }

    &__content {
        padding: 2rem 3rem;
    }

    &__heading{
        margin-bottom: 1rem;
        font-size: 2rem;
        font-weight: 600;
        letter-spacing: .58px;
        color: var(--color-heading-grey);
    }

    &__text {
        margin-bottom: 2.7rem;
        font-size: 1.4rem;
        line-height: 2rem;
        letter-spacing: .4px;
    }

    &__box-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__info {
        font-size: 1.2rem;
        letter-spacing: .35px;

        span:last-of-type {
            margin: 0 2rem;
        }
    }
}